USE [master]
GO
CREATE DATABASE [Pratics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pratics', FILENAME = N'D:\DB\Pratics.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Pratics_log', FILENAME = N'D:\DB\Pratics_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
GO
USE [Pratics]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2016/8/3 下午 03:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[UID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Customer_UID]  DEFAULT (newid()),
	[ID] [varchar](20) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Country] [varchar](3) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](2) NULL,
	[Address] [varchar](100) NULL,
	[Zip] [varchar](20) NULL,
	[Status] [int] NULL CONSTRAINT [DF_Customer_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2016/8/3 下午 03:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [varchar](20) NOT NULL CONSTRAINT [DF_Table_1_UID]  DEFAULT (newid()),
	[Customer_ID] [varchar](20) NOT NULL,
	[TotalAmount] [decimal](16, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[Order_Date] [datetime] NOT NULL,
	[Sales_Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Customer] ([UID], [ID], [Name], [Country], [City], [State], [Address], [Zip], [Status]) VALUES (N'5551a523-b127-4355-90b9-7e81028d65ac', N'A0002', N'Customer 002', N'USA', NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[Customer] ([UID], [ID], [Name], [Country], [City], [State], [Address], [Zip], [Status]) VALUES (N'2357d12d-ab05-4f7f-b857-90165bc19759', N'A0001', N'Customer 001', N'USA', NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[Order] ([ID], [Customer_ID], [TotalAmount], [Status], [Order_Date], [Sales_Name]) VALUES (N'00000001', N'A0001', CAST(10001.12 AS Decimal(16, 2)), 1, CAST(N'2016-08-02 00:00:00.000' AS DateTime), N'Andy')
GO
INSERT [dbo].[Order] ([ID], [Customer_ID], [TotalAmount], [Status], [Order_Date], [Sales_Name]) VALUES (N'00000002', N'A0002', CAST(2000.11 AS Decimal(16, 2)), 0, CAST(N'2016-08-03 00:00:00.000' AS DateTime), N'John')
GO
INSERT [dbo].[Order] ([ID], [Customer_ID], [TotalAmount], [Status], [Order_Date], [Sales_Name]) VALUES (N'00000003', N'A0002', CAST(123999.22 AS Decimal(16, 2)), 1, CAST(N'2016-08-03 00:00:00.000' AS DateTime), N'Sara')
GO
USE [master]
GO
