<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- ORM -->
    <sectionGroup name="Yos.Studio.ORM">
      <section name="connection" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>

    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>

  <!-- ORM -->
  <Yos.Studio.ORM>
    <connection connectionStringKey="DefaultConnection" commandTimeout="60000" debug="true" />
  </Yos.Studio.ORM>

  <connectionStrings>
	  <add name="DefaultConnection" connectionString="Data Source = DESKTOP-7A9RM9V ;Initial Catalog=Pratics;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <!--<add name="DefaultConnection" connectionString="Data Source=127.0.0.1\MSSQL2014;Initial Catalog=Pratics;User ID=sa;Password=0922813878" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    <pages>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
      <namespaces>
        <add namespace="Ext.Net" />
        <!--<add namespace="Ext.Net.MVC"/>-->
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <extnet theme="Gray" licenseKey="** Ext.NET LICENSE KEY HERE **" />
</configuration>